<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neocfc.neored" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.example.neocfc.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b5ebcbfdf479d8660ee1b289337e13b18c453bc" />

        <activity
            android:name="com.example.neocfc.activity.RegisterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.neocfc.com.example.neocfc.network.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.neocfc.service.WorkerService"
            android:exported="false" />
        <service
            android:name="com.example.neocfc.service.Upstream"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.example.neocfc.service.DownstreamReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="com.example.neocfc.service.UpstreamReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name="com.example.neocfc.service.DownStream"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.example.neocfc.activity.RecommendationActivity"
            android:label="@string/title_activity_recommendation" >
        </activity>

        <service
            android:name="com.example.neocfc.service.FeedbackService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.example.neocfc.service.WorkerReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="com.example.neocfc.service.NotificationReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name="com.example.neocfc.service.NotificationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.example.neocfc.com.example.neocfc.network.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
